.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.text-center {
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 10px;
}

.mb-4 {
    margin-bottom: 20px;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.img-container img {

    margin-top: 50px;
    width: 100%;
    height: 300px;
    transition: transform 0.5s ease;
}
.firstcol{
    margin-top: 30px;
    

}

/* .img-container:hover img {
    transform: scale(1.1);
} */

.ratings {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.rating-box {
    text-align: center;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
}

.rating-box p {
    margin: 5px 0;
}

.rating-value {
    font-size: 2em;
    color: #44db76;
}
.re{
    text-align: center;
    align-items: center;
    height: 40px;
    margin-top: 40px;
    
  }